<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAXI CUSTOMER</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="css/taxi.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script> 
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script> 
    <script src="js/customer.js" defer></script>
    <!-- <script src="js/drawermenu.js" defer></script> -->

  </head>
  <body>
    <div id="hamburger-menu">
      <ul class="list">
        <li class="active"><a>TAXIAPP</a></li>
        <li><a>Här ska det vara något</a></li>
        <li><a>Något annat</a></li>
        <li><a>Lalala</a></li>
        <li><a>Typ</a></li>
      </ul>
    </div>
    

    <header>
      <div id="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a href="#" id="account-icon"></a>
      <a href="#" id="logo"></a>
    </header>

    <div id="CustomerView">
    <div id="firstCustomerView">
      <form id="section1">
        <p>
            <label for="fromOne">Från</label><br>
            <input type="text" class="place from" id="fromOne" name="from" value="Polacksbacken" >
          </p>
          
          <p>
             <label for="toOne">Till</label><br>
            <input type="text" class= "place to" id="toOne" name="to"  placeholder="Till">
          </p>

          <div class="bilStorlek">
            <label>
              <input type="radio" name="bilOne" id="Liten Bil" checked="checked"/>
              <div class="liten Bil">
                <span>1-4 pers</span>
              </div>
            </label>

            <label>
              <input type="radio" name="bilOne" id="Stor Bil"/>
              <div class="stor Bil">
                <span>5-7 pers</span>
              </div>
            </label>
          </div>


          <div id="boka">
            <button v-on:click="toNextView" class="button One"  type="button">Boka</button>
          </div>
      </form>
    </div>

    <div id="secondCustomerView">
      <form id="section2">
        <p>
             <label for="fromTwo">Från</label><br>
            <input type="text" class="place from" id="fromTwo" name="from" placeholder="Från">
          </p>
          
          <p>
             <label for="toTwo">Till</label><br>
            <input type="text" class= "place to" id="toTwo" name="to"  placeholder="Till">
          </p>

          <div class="bilStorlek">
            <label>
              <input type="radio" name="bilTwo" checked="checked" value="Liten Bil"/>
              <div class="liten Bil">
                <span>1-4 pers</span>
              </div>
            </label>

            <label>
              <input type="radio" name="bilTwo" value="Stor Bil"/>
              <div class="stor Bil">
                <span>5-7 pers</span>
              </div>
            </label>
          </div>

          <p>
            <input type="tel" class= "tel" id="tel" name="tel"  placeholder="Ditt telefonnummer">
          </p>

           <p>
            <label for="payment">Betalnings Alternativ</label><br>
            <select id="payment">

              <option name="pay" id="Swish">Swish</option>
              <option name="pay" id="Card">Card</option>
              <option name="pay" id="BankID" selected="selected">BankID</option>

            </select>
          </p>


          <div id="boka">
            <button v-on:click="toPayment" class="button Two" type="button">Gå till betalning</button>
          </div>
      </form>
    </div>
  </div>


    <div id="content">
      <div id="q-dest">
        <form>
          <input type="text" name="firstname" id="firstDestination" placeholder="Vart vill du åka?">

          <button v-on:click="destinationFirst" type="button">PIL</button>
        </form>
      </div>
      <div id="page">
        
        <div id="my-map"></div>

        
        <button v-on:click="orderTaxi">ORDER TAXI</button>
        Your order number is {{ orderId }} 
      </div>
    </div>
    
    
  </body>
</html>
