<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAXI CUSTOMER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="css/taxi.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script>
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>
    <script src="js/customer.js" defer></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAw4lHyXwd150rMlfYUDSAZUbyFG7sQ0&callback=initMap&libraries=places">
    </script>
    <!-- <script src="js/drawermenu.js" defer></script> -->

  </head>
  <body>
    <div id="hamburger-menu">
      <ul class="list">
        <li class="active"><a>Meny [WIP]</a></li>
        <li><a>Bokningar</a></li>
        <li><a>Fakturor</a></li>
        <li><a>Kundservice</a></li>
        <li><a></a></li>
      </ul>
    </div>


    <header>
      <div id="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a href="#" id="account-icon"></a>
      <a href="#" id="logo"></a>

    </header>
    <div class="#modals">
    <!-- Modal -->
    <div id="firstOrderModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Vilken tjänst vill du beställa?</h4>
          </div>
          <div class="modal-body">
            <p>
              <input id="taxi" type="radio" name="serviceType" value="taxi" checked="checked"/>Taxi <br>
              <input id="färdtjänst" type="radio" name="serviceType" value="färdtjänst"/>Färdtjänst
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#secondModalView">Nästa</button>
          </div>
        </div>
      </div>
    </div>

    <div id="secondModalView" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Specifikationer:</h4>
          </div>
          <div class="modal-body">
            <p>
              Från <br>
              Till <br>
            </p>
            <div class="bilStorlek">
              <h6>Välj bilstorlek:</h6>
                <input id="small" type="radio" name="car" value="liten bil" checked="checked" />
                <label class="bil-cc small" for="small"></label>
                <input id="big" type="radio" name="car" value="stor bil" />
                <label class="bil-cc big"for="big"></label>
            </div>
          </div>
          <p>
            <label for="timeInput">Vilken tid vill du bli hämtad?</label><br>
            <select id="timeInput">
              <input type="time" class= "time" id="pickupTime" name="time">
            </select>
            </p>
          <p>
            <input type="number" class= "tel" id="tel" name="tel"  placeholder="Ditt telefonnummer">
          </p>
          <p>
            <label for="payment">Betalnings Alternativ</label><br>
            <select id="payment">
              <option name="pay" id="Swish">Swish</option>
              <option name="pay" id="Card">Card</option>
              <option name="pay" id="BankID" selected="selected">BankID</option>
            </select>
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Boka</button>
          </div>
        </div>

      </div>
    </div>
</div>
    <div id="CustomerView">
      <div id="firstCustomerView">
        <form id="section1">
          <p>
            <label for="fromOne">Från</label><br>
            <input type="text" class="place from" id="fromOne" name="from" value="Polacksbacken" >
          </p>

          <p>
            <label for="toOne">Till</label><br>
            <input type="text" class= "place to" id="toOne" name="to"  placeholder="Till">
          </p>

      <div class="bilStorlek">
        <h3>Välj bilstorlek:</h3>
          <input id="small" type="radio" name="car" value="liten bil" checked="checked" />
          <label class="bil-cc small" for="small"></label>
          <input id="big" type="radio" name="car" value="stor bil" />
          <label class="bil-cc big"for="big"></label>
      </div>


          <div id="boka">
            <button v-on:click="toNextView" class="button One"  type="button">Boka</button>
          </div>
        </form>
      </div>

      <div id="secondCustomerView">
        <form id="section2">
          <p>
            <label for="fromTwo">Från</label><br>
            <input type="text" class="place from" id="fromTwo" name="from" placeholder="Från">
          </p>

          <p>
            <label for="toTwo">Till</label><br>
            <input type="text" class= "place to" id="toTwo" name="to"  placeholder="Till">
          </p>

          <div class="bilStorlek">
            <h3>Bilstorlek:</h3>
              <input id="small" type="radio" name="bilTwo" value="liten bil" checked="checked"/>
              <label class="bil-cc small" for="small"></label>
              <input id="big" type="radio" name="bilTwo" value="stor bil" />
              <label class="bil-cc big"for="big"></label>
          </div>

          <p>
            <input type="number" class= "tel" id="tel" name="tel"  placeholder="Ditt telefonnummer">
          </p>

          <p>
            <label for="payment">Betalnings Alternativ</label><br>
            <select id="payment">

              <option name="pay" id="Swish">Swish</option>
              <option name="pay" id="Card">Card</option>
              <option name="pay" id="BankID" selected="selected">BankID</option>

            </select>
          </p>


          <div id="boka">
            <button v-on:click="toPayment" class="button Two" type="button">Gå till betalning</button>
          </div>
        </form>
      </div>

      <div id="kvitto">
        <h3>Tack för din betalning. Vi har tagit emot följande detaljer och en taxi kommer till dig innom 10 minuter</h3>
        <p id="kvittoInfo" >
        </p>
      </div>
    </div>

    <!-- Trigger the modal with a button -->

    <div id="content">
      <div id="q-dest">
        <form>
          <input type="text" name="firstname" id="autocomplete" onFocus="geolocate()" placeholder="Varifrån vill du åka?"></input>
          <input type="text" name="firstname" id="autocomplete2" onFocus="geolocate()" placeholder="Vart vill du åka?"></input>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#firstOrderModal"></button>
        </form>
      </div>
      <div id="map"></div>
      <div id="page">
        <button v-on:click="orderTaxi">ORDER TAXI</button>
        Your order number is {{ orderId }}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
