<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAXI CUSTOMER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="css/taxi.css">
    <link rel="stylesheet" href="css/modals.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script>
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>
    <script src="js/customer.js" defer></script>
    <script src="js/send_to_dispatch.js" defer></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAw4lHyXwd150rMlfYUDSAZUbyFG7sQ0&callback=initMap&libraries=places">
    </script>
    <!-- <script src="js/drawermenu.js" defer></script> -->
  </head>
  <body>
    <div id="hamburger-menu">
      <ul class="list">
        <li class="active"><a>Meny</a></li>
        <li><a data-toggle=modal data-target=#kvittoModal>Kvitto till senaste bokningen</a></li>
        <li><a id="tidigareBokningar" v-on:click="gatherBookings" data-toggle=modal data-target=#tidigareBokningarModal>Bokningar</a></li>
        <li><a>Fakturor</a></li>
        <li><a>Kundservice</a></li>
        <li><a></a></li>
      </ul>
    </div>


    <header>
      <div id="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a href="#" id="account-icon"></a>
      <a href="#" id="logo"></a>

    </header>
<div id="modaler">
    <div id="tidigareBokningarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Dina bokningar</h4>
    </div>
    <div class="modal-body">
      <p>
        <div id="listPreviousOrders">
          <div v-for="(order, key) in previousOrders">
            #{{ key }}: {{ order.customerDetails.join(", ") }};

            <select v-on:change="editOrder(order)" v-model="order.edit">
                  <option disabled value="">Alternativ</option>
                  <option value="change">Ändra resa</option>
                  <option value="delete">Avboka resa</option>
                </select>
          </div>
        </div>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Ändra resa</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Avboka resa</button>
    </div>
    </div>
    </div>
    </div>

    <div id="avbokningModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Är du säker på att du vill avboka denna resa?</h4>
    </div>
    <div class="modal-body">
      <p>
        {{editedOrder}}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
      <button v-on:click="deleteOrder(editedOrder)" type="button" class="btn btn-default" data-dismiss="modal">Avboka resa</button>
    </div>
    </div>
    </div>
    </div>
</div>

    <div id="secondModalView" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#firstOrderModal">Backa</button>
            <h4 class="modal-title">Specifikationer:</h4>
          </div>
          <div class="modal-body">
            <p id="whereTo"></p>
<div id="carType">
  <div class="bilStorlek">
    <h6>Välj bilstorlek:</h6>
      <input id="small" type="radio" name="car" value="liten bil" checked="checked" />
      <label class="bil-cc small" for="small"></label>
      <input id="big" type="radio" name="car" value="stor bil" />
      <label class="bil-cc big"for="big"></label>
  </div>
</div>
<div id="special">
<h6>Special krav:</h6>
<div class="container">
<div class="row">
  <div class="col-xs-6">
    <div class="checkbox">
      <label><input type="checkbox" name="specialChoice" value="rullstol">Rullstol</label>
    </div>
    <div id="numAdults">
      <label for="numPassenger">Antal vuxna:</label><br>
      <select id="numPassenger">
        <option name="passengers" id="0" selected="selected">0</option>
        <option name="passengers" id="1">1</option>
        <option name="passengers" id="2" >2</option>
        <option name="passengers" id="3" >3</option>
        <option name="passengers" id="4" >4</option>
      </select>
    </div>
  </div>
<div class="row">
  <div class="col-xs-6">
    <div class="checkbox">
      <label><input type="checkbox" name="specialChoice" value="ledarhund">Sällskap/ledarhund</label>
    </div>
    <div id="numChildren">
      <label for="numPassenger">Antal barn:</label><br>
      <select id="numPassenger">
        <option name="passengers2" id="0" selected="selected">0</option>
        <option name="passengers2" id="1">1</option>
        <option name="passengers2" id="2" >2</option>
        <option name="passengers2" id="3" >3</option>
        <option name="passengers2" id="4" >4</option>
      </select>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div id="dayAndTime">
<p>
  <label for="pickupTime">Vilken tid vill du bli hämtad?</label><br>
  <input type="date" name="date" id="date">
  <input type="time" class= "time" id="pickupTime" name="time">
  </p>
</div>
<div id="personalNum">
<p>
  <input type="number" class= "perNum" id="perNum" name="perNum"  placeholder="Ditt personnummer">
</p>
</div>
<div id="phoneNumber">
<p>
  <input type="number" class= "tel" id="tel" name="tel"  placeholder="Ditt telefonnummer">
</p>
</div>
<div id="paymentOption">
<p>
  <label for="payment">Betalnings Alternativ</label><br>
  <select id="payment">
    <option name="pay" id="Swish">Swish</option>
    <option name="pay" id="Card">Card</option>
    <option name="pay" id="BankID" selected="selected">BankID</option>
  </select>
</p>
</div>
<div class="modal-footer">
<button v-on:click=orderTaxi() type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#kvittoModal">Boka</button>
</div>
</div>
</div>
    </div>
</div>

<div id="kvittoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Kvitto:</h4>
      </div>
      <div class="modal-body">
          <h3>Tack för din betalning. Vi har tagit emot följande detaljer och en taxi kommer till dig inom [NUM] minuter</h3>
          <div id="kvittoInfo" >
          </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>
    <div id="content">
      <div id="q-dest">
        <form id="firstForm">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <input type="text" name="firstname" id="autocomplete" onFocus="geolocate()" placeholder="Varifrån vill du åka?"></input>
                <input type="text" name="firstname" id="autocomplete2" onFocus="geolocate()" placeholder="Vart vill du åka?"></input>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div id="serviceForm">
                  <label for="taxi">Taxi</label>
                  <input id="taxi" type="radio" name="typeOfService" value="taxi">
                  <label for="färdtjänst">Färdtjänst</label>
                  <input id="färdtjänst" type="radio" name="typeOfService" value="färdtjänst">
                  <button onclick="showWhereTo()" id="goForwardButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#secondModalView"></button>
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editOrderModal">Ändra/avboka resa</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="map"></div>
      <div id="page">

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
