<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TAXI DISPATCHER</title>
  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="css/taxi.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAw4lHyXwd150rMlfYUDSAZUbyFG7sQ0&callback=initMap&libraries=places"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="css/dispatcher.css">

  <script src="js/dispatcher.js" defer></script>

</head>
<body>

<div id="DispContainer">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
       <div id="orders">
          <button class="button orders"  type="button" class="btn btn-default" data-toggle="modal" data-target="#ordersModal">Beställningar</button>
       </div>
       <div id="ongoingOrders">
          <button class="button ongoingOrders"  type="button" class="btn btn-default" data-toggle="modal" data-target="#ongoingModal">Pågående körninger</button>
       </div>
       <div id="loggedInDrivers">
          <button class="button loggedInDrivers"  type="button" class="btn btn-default" data-toggle="modal" data-target="#loggedInModal">Inloggade chafförer</button>
       </div>

      </div>
      <div class="col-sm-10">
        <div id="map"></div>
      </div>
    </div>
  </div>

<!--Modal för beställningar och lediga chafförer. Här görs tilldelningen-->
  <div id="ordersModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Koordinera körningar</h4>
        </div>

        <div class="modal-body modal-lg">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h4>Beställningar:</h4>
                <div id="orders">
                <div id="orderList">
                  <div v-for="(order, key) in orders">
                    #{{ key }}:<br>
                    Från: {{order.customerDetails[0]}}<br>
                    Till: {{order.customerDetails[1]}}<br>
                    Typ: {{order.customerDetails[2]}}<br>
                    Krav: {{order.customerDetails[3]}}<br>
                    Dag: <br>
                    Tid: <br>
                    <br>
                    <select v-on:change="assignTaxi(order)" v-model="order.taxiId">
                          <option disabled value="">Assign a taxi</option>
                          <option v-for="taxi in taxis" :value="taxi.taxiId"># {{ taxi.taxiId}},{{taxi.typeOfCar}}  </option>
                        </select> {{ order.taxiIdConfirmed }}
                  </div>
                </div>
              </div>
            </div>
                <div class="col-md-6">
                <h4>Lediga chafförer</h4>
                <div id="taxiList">
                  <div v-for="taxi in taxis">
                    # {{taxi.taxiId}}, {{taxi.typeOfCar}}
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
</div>
<!--Modal för pågående körningar-->
    <div id="ongoingModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Pågående körningar:</h4>
          </div>
          <div class="modal-body">
              KÖRNINGAR
          </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>

<!--Modal med alla inloggade chafförer-->
    <div id="loggedInModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Inloggade chafförer</h4>
          </div>
          <div class="modal-body">
                <div id="taxiList">
                  <div v-for="taxi in taxis">
                    # {{ taxi.taxiId}}
                  </div>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</body>
</html>
