<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TAXI DISPATCHER</title>
  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="css/taxi.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAw4lHyXwd150rMlfYUDSAZUbyFG7sQ0&callback=initMap&libraries=places"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="css/dispatcher.css">

  <script src="js/dispatcher.js" defer></script>

</head>
<body>


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
       <div id="warning">
          <button v-on:click="newWarning" class="button warning"  type="button">Varning!</button>
       </div>
       <div id="warning">
          <button v-on:click="newWarning" class="button warning"  type="button">Varning!</button>
       </div>
       <div id="warning">
          <button v-on:click="newWarning" class="button warning"  type="button">Varning!</button>
       </div>

      </div>
      <div class="col-sm-10">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <div id="DispContainer">



    <div id="orders">
    <div id="orderList">
      <div v-for="(order, key) in orders">
        #{{ key }}: {{ order.customerDetails.join(", ") }};

        <select v-on:change="assignTaxi(order)" v-model="order.taxiId">
              <option disabled value="">Assign a taxi</option>
              <option v-for="taxi in taxis" :value="taxi.taxiId"># {{ taxi.taxiId}}  </option>
            </select> {{ order.taxiIdConfirmed }}
      </div>
    </div>

    <div id="taxiList">
      <div v-for="taxi in taxis">
        # {{ taxi.taxiId}};
      </div>
    </div>


  </div>

     <div id="currentJobs"  class="jobs current">
      <h3>List of current jobs</h3>
    </div>




  <div id="addHotspot">
    <textarea cols="40" rows="5" id="hotspotDesc" placeholder="Lägg till Beskrivning"></textarea>
     <input type="text" placeholder="Position">
     <button v-on:click="addHotpotClick" class="addingH"  type="button">Lägg till hotSpot!</button>
  </div>
  <div>
</body>
</html>
