<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAXI DRIVER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="css/modals.css">
    <link rel="stylesheet" href="css/taxi.css">
    <link rel="stylesheet" href="css/driver.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/driver.js" defer></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSAw4lHyXwd150rMlfYUDSAZUbyFG7sQ0&callback=initMap&libraries=places"></script>

  </head>
  <body>
    <div id="drivercontent">
      <div id="hamburger-menu">
        <ul class="list">
          <li class="active"><a>Meny</a></li>
          <li id="job"><a data-toggle="modal" data-target="#currentJobModal">Nytt jobb</a></li>
          <li id="drivingJob"><a data-toggle="modal" data-target="#drivingModal">Nuvarande jobb</a></li>
        </ul>
      </div>

      <header>
        <div id="hamburger-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div id="headerButtons">
        <div id="taxiid" style="float:left">TAXI DRIVER #{{ taxiId }}</div>

          <button v-on:click="loggInLoggOff" id="logginButton" type="button" class="btn btn-default">{{loggText}}</button>
        </div>
      </header>


    <div class="modal fade" id="currentJobModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Din nästa körning</h4>
            </div>
            <div class="modal-body">
              <ul>
                <div v-for="order in orders" v-if="order.taxiId == taxiId">
                  # {{ order.orderId}}
                  From: {{  }}, {{  }}
                  Destination: {{  }}, {{  }}

            <div class="modal-footer">
              <button v-on:click="finishOrder(order.orderId)" type="button" class="btn btn-default">Avsluta</button>
              <button v-on:click="acceptOrder(order)" type="button" class="btn btn-default">Acceptera</button>
            </div>
            </ul>
            </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="drivingModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Nuvarande körning</h4>
            </div>
            <div class="modal-body">
              <p>
                Från <br>
                Till <br>
                Tid <br>
                Typ av resa <br>
                Special krav <br>
              </p>
            </div>
            <div class="modal-footer">
              <button v-on:click="acceptOrder(order)" type="button" class="btn btn-default" data-dismiss="modal">Acceptera</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="drivingModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Nuvarande körning</h4>
            </div>
            <div class="modal-body">
              <p>
                Från <br>
                Till <br>
                <button type="button" class="btn btn-default" name="button">Ring kunden</button>
              </p>
            </div>
            <div class="modal-footer">
              <button id="finishButton" v-on:click="finishOrder(order.orderId)" type="button" class="btn btn-default" data-dismiss="modal">Körning färdig</button>
              <button id="startButton" v-on:click="acceptOrder(order)" type="button" class="btn btn-default" data-dismiss="modal">Starta</button>
            </div>
          </div>
        </div>
    </div>

    <div id="content">
      <div id="directionsPanel" style="float:right;width:30%;height 100%"></div>
      <div id="page">
        <div id="map"></div>

        

      </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
